<div class="main-content section_padding_50">
    <div class="container-fluid">
      <div style="text-align:center">
        <div class="container">
          <h1>
            Welcome to Agora Vote!
          </h1>
        </div>
        <img width="300" alt="Agora logo" src="../assets/agora.png">
      </div>
    </div>
  </div>